.Weather {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  margin-bottom: 0;
}
.Weather h1 {
  color: #878787;
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather canvas {
  margin-right: 10px;
}
.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 48px;
  line-height: 64px;
  margin-left: -5px;
}
.WeatherTemperature {
  margin-top: -75px;
  margin-left: 60px;
}
.Weather .unit {
  position: relative;
  top: -25px;
}

.footer {
  text-align: left;
  margin: 5px auto;
  max-width: 600px;
}
img {
  margin-top: -25px;
}
